# Node.js
node_modules/

# Logs
logs/
*.log

# Environment variables
# .env
# .env.development


# Build output
dist/

# Dependency lock files
package-lock.json
yarn.lock

# IDE files
.vscode/
.idea/

# Testing
coverage/
.vercel


*.local.*
